# Go
/nxrm-3pc-publisher

# local config files (may contain real credentials)
/config.yaml
/config.local.yaml
/out/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
